<!--<div class="dashboard" layout="row" layout-padding layout-wrap ng-cloak>-->
    <!--<div layout="row" class="indicators">-->
        <!--<md-whiteframe class="md-whiteframe-1dp" layout layout-align="center center">-->
            <!--<span>.md-whiteframe-1dp</span>-->
        <!--</md-whiteframe>-->
        <!--<md-whiteframe class="md-whiteframe-1dp" layout layout-align="center center">-->
            <!--<span>.md-whiteframe-2dp</span>-->
        <!--</md-whiteframe>-->
        <!--<md-whiteframe class="md-whiteframe-1dp" layout layout-align="center center">-->
            <!--<span>.md-whiteframe-2dp</span>-->
        <!--</md-whiteframe>-->
    <!--</div>-->
<!--</div>-->

<div style="width: 100%;background: #ffffff;text-align: center;padding: 20px;margin: 10px" flex class="md-whiteframe-1dp">
    <h1>欢迎！</h1>
    <br>
    <br>
    <h2>帮助</h2>
    <h4><a href="download/数据交换平台-使用帮助.docx">使用帮助</a></h4>
    <h4><a href="download/数据交换平台-设计.docx">设计文档</a></h4>
    <br>
    <br>
    <h2>工具</h2>
    <h4><a href="http://jason.hahuachou.com/cron/index.htm" target="_blank">Cron触发器表达式在线工具</a></h4>
</div>