
<md-card flex="20" style="background: #37479E;color: #fff;">
    <md-card-content>
        <h2 class="md-title">取数应用概况</h2>
        <ul>
            <li>IP</li>
            <li>http://</li>
            <li>d:/</li>
        </ul>
    </md-card-content>
</md-card>

<md-card flex="20" style="background: #FFC107;color: #fff;">
    <md-card-content>
        <h2 class="md-title">数据处理结点</h2>
        <ul>
            <li>IP</li>
            <li>http://</li>
            <li>d:/</li>
        </ul>
    </md-card-content>
</md-card>
