<md-dialog >
    <form name="instanceForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>注册一个取数应用</h2>
                <span flex></span>
                <md-button class="md-icon-button" type="button" ng-click="cancel()">
                    <i class="fa fa-close"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:760px;max-height:810px; " layout-padding>
            <md-input-container>
                <label>应用名称(中文)</label>
                <input md-maxlength="10" required name="appNameCn" ng-model="instance.appNameCn">
                <div ng-messages="instanceForm.appNameCn.$error">
                    <div ng-message="required">必填项</div>
                    <div ng-message="md-maxlength">最多10个字符.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>应用标识(英文或拼音小写)</label>
                <input md-maxlength="20" required name="appName" ng-model="instance.appName">
                <div ng-messages="instanceForm.appName.$error">
                    <div ng-message="required">必填项</div>
                    <div ng-message="md-maxlength">最多20个字符.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>消息Topic名称</label>
                <input md-maxlength="20" required name="topicName" ng-model="instance.topicName">
                <div ng-messages="instanceForm.topicName.$error">
                    <div ng-message="required">必填项</div>
                    <div ng-message="md-maxlength">最多20个字符.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>回调接口HSF组名</label>
                <input required  name="callbackHsfGroupname" ng-model="instance.callbackHsfGroupname" />
                <div ng-messages="instanceForm.callbackHsfGroupname.$error">
                    <div ng-message="required">必填项</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>回调接口HSF版本</label>
                <input required  name="callbackHsfVersino" ng-model="instance.callbackHsfVersino" />
                <div ng-messages="instanceForm.callbackHsfVersino.$error">
                    <div ng-message="required">必填项</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>回调接口HSF超时（MS）</label>
                <input required type="number" value="2000" name="callbackRoute" ng-model="instance.callbackRoute" />
                <div ng-messages="instanceForm.callbackRoute.$error">
                    <div ng-message="required">必填项</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>授权Token</label>
                <input required  name="fromToken" ng-model="instance.fromToken" />
                <div ng-messages="instanceForm.fromToken.$error">
                    <div ng-message="required">必填项</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>ChannelId</label>
                <input required  name="channelId" ng-model="instance.channelId" />
                <div ng-messages="instanceForm.channelId.$error">
                    <div ng-message="required">必填项</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>消息分区数/处理线程数，<=50</label>
                <input  type="number"  required name="partitions" ng-model="instance.partitions"  >
                <div ng-messages="instanceForm.partitions.$error">
                    <div ng-message="required">必填项</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>消息数据存放份数</label>
                <input required type="number"  name="streamCount" ng-model="instance.streamCount" min="1"
                       max="10"   value="1"/>
                <div ng-messages="instanceForm.streamCount.$error">
                    <div ng-message="required">必填项</div>
                </div>
            </md-input-container>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <!--<md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>-->
                <!--More on Wikipedia-->
            <!--</md-button>-->
            <!--<span flex></span>-->
            <md-button ng-click="cancel()" type="button">
                取消关闭
            </md-button>
            <md-button ng-click="regApp()" class="md-raised md-warn" style="margin-right:20px;"   type="button">
                确认注册
            </md-button>
        </div>
    </form>
</md-dialog>




