::-webkit-scrollbar-track-piece {
  background-color: #E7E7E7;
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  border-radius: 5px;
  margin: 3px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #f0f0f0;
  background-clip: padding-box;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  min-height: 28px;
}

::-webkit-scrollbar-thumb:hover {
  border: 1px solid #a0a0a0;
  background-color: #e0e0e0
}

* {
  outline: none;
}
a {
  color: #106CC8;
  text-decoration: none;
  font-weight: 400;
  border-bottom: 1px solid rgba(64, 84, 178, 0.25);
  -webkit-transition: border-bottom 0.35s;
  -moz-transition: border-bottom 0.35s;
  -ms-transition: border-bottom 0.35s;
  -o-transition: border-bottom 0.35s;
  transition: border-bottom 0.35s;
}
a:hover, a:focus {
  border-bottom: 1px solid #4054B2;
}
body {
  background-color: #f5f5f5;
  box-sizing: border-box;
  color: rgb(88, 95, 105);
  font-family: 微软雅黑, 'Proxima Nova', Roboto, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

md-sidenav {
  div.md-no-sticky {
    font-style: italic;
    color: #ccc;
    text-align: right;
  }
  button {
    font-size: 16px !important;
  }
}

header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 50px;
  i.fa {
    display: block;
    font-size: 80px;
    margin: 30px auto;
    text-align: center;
    color: #455A64;
  }
  b {
    text-align: center;
    display: block;
    font-size: 28px;
    margin-top: -15px;
  }
  span {
    display: block;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
  }

}

.dashboard {
  .indicators {
    md-whiteframe {
      width: 200px;
      height: 80px;
      background: #ffffff;
      /* padding: 20px; */
      margin: 10px;
    }
  }
}

.content-container {
  overflow: auto;
}

.md-button {
  color: #777;
}

md-tooltip .md-background {
  background-color: rgba(0, 0, 0, 0.8);
}

.bg-none {
  background-color: transparent;
}

.top_nav a.md-button:not([disabled]):hover, .top_nav .md-button:not([disabled]):hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.md-sidenav-left, .top_nav {
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

a.md-button.md-accent.md-raised, a.md-button.md-accent.md-fab, .md-button.md-accent.md-raised, .md-button.md-accent.md-fab {
  color: white;
}

.left-navi md-icon {
  margin-right: 10px !important;
}

.left-navi i {
  font-size: 20px;
}

.left-navi button {
}

/*
 The starting CSS styles for the enter animation
ngRepeat	enter, leave and move
ngView	enter and leave
ngInclude	enter and leave
ngSwitch	enter and leave
ngIf	enter and leave
ngClass	add and remove (the CSS class(es) present)
ngShow & ngHide	add and remove (the ng-hide class value)
form & ngModel	add and remove (dirty, pristine, valid, invalid & all other validations)
ngMessages	add and remove (ng-active & ng-inactive)
ngMessage
*/
/* The starting CSS styles for the enter animation */
.fade-animation.ng-enter {
  transition: 0.3s linear all;
  opacity: 0;
  transform: translateY(15px);
}

/* The finishing CSS styles for the enter animation */
.fade-animation.ng-enter.ng-enter-active {
  opacity: 1;
  transform: translateY(0);
}

/*======================================================
angularjs animate
ng-enter进入动画
ng-leave消失动画，如果不需要：
.nganimate.ng-leave {
  transition:none!important
}
======================================================*/
/*.animate-repeat.ng-enter-stagger {*/
/*/!* this will have a 100ms delay between each successive leave animation *!/*/
/*-webkit-transition-delay: 0.1s;*/
/*transition-delay: 0.1s;*/
/*/!* in case the stagger doesn't work then these two values*/
/*must be set to 0 to avoid an accidental CSS inheritance *!/*/
/*-webkit-transition-duration: 0s;*/
/*transition-duration: 0s;*/
/*}*/
/*.animate-repeat.ng-move,*/
/*.animate-repeat.ng-enter,*/
/*.animate-repeat.ng-leave {*/
/*-webkit-transition:all linear 0.5s;*/
/*transition:all linear 0.5s;*/
/*}*/
/*.animate-repeat.ng-leave.ng-leave-active,*/
/*.animate-repeat.ng-move,*/
/*.animate-repeat.ng-enter {*/
/*opacity:0!important;*/

/*}*/
/*.animate-repeat.ng-leave,*/
/*.animate-repeat.ng-move.ng-move-active,*/
/*.animate-repeat.ng-enter.ng-enter-active {*/
/*opacity:1;*/
/*}*/
