<html lang="en" ng-app="DexcApp">
<head>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/pace/themes/white/pace-theme-flash.css">
    <link rel="stylesheet" href="dist/css/fix.css">
    <meta name="viewport" content="initial-scale=1"/>
    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>


<body layout="row" ng-controller="MainCtrl" ng-cloak>

<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')">

    <header class="nav-header">
        <i class="fa fa-joomla"></i>
        <b>数据交换中心</b>
        <span>综合管理系统</span>
    </header>
    <md-content flex role="navigation">
        <md-subheader class="md-no-sticky">数据交换集群</md-subheader>
        <md-list-item ng-click="gotoUrl('/#nodes')">
            <p>集群节点管理</p>
            <md-tooltip>
                数据回调消息和发送处理结点状态
            </md-tooltip>
        </md-list-item>
        <md-divider></md-divider>

        <md-subheader class="md-no-sticky">数据交换应用</md-subheader>
        <md-list-item ng-click="gotoUrl('/#apps')">
            <md-tooltip>
                管理已授权数据交换的应用
            </md-tooltip>
            <p>已注册应用管理</p>
        </md-list-item>
        <md-list-item ng-click="showRegWindow($event)">
            <p>注册新应用</p>
            <md-tooltip>
                注册新的需要数据交换的应用
            </md-tooltip>
        </md-list-item>
        <md-divider></md-divider>

        <md-subheader class="md-no-sticky">定时任务</md-subheader>
        <md-list-item ng-click="gotoUrl('/#schedulers')">
            <p>定时任务管理</p>
        </md-list-item>
        <md-list-item ng-click="showSchedulerWindow($event)">
            <p>添加定时任务</p>
        </md-list-item>
        <md-divider></md-divider>


        <md-subheader class="md-no-sticky">中间件服务</md-subheader>
        <md-list-item ng-click="gotoUrl('http://kafka-ui:9000')">
            <p>消息中心 Kafka</p>
            <md-tooltip>
                查看消息中心(KAFKA)管理UI
            </md-tooltip>
        </md-list-item>
        <md-list-item ng-click="gotoUrl('http://kafka-ui:8080')">
            <p>任务中心 Storm</p>
            <md-tooltip>
                查看任务调度/作业管理UI
            </md-tooltip>
        </md-list-item>
        <md-list-item ng-click="gotoUrl('http://kafka-ui:8080')">
            <p>代理 HAProxy 管理UI</p>
        </md-list-item>
        <md-divider></md-divider>


        <!--TODO -->
        <md-subheader class="md-no-sticky">开发者相关</md-subheader>
        <md-list-item ng-click="gotoUrl('download/maven.zip')">
            <p>相关依赖下载</p>
            <md-tooltip>
                开发过程接口依赖下载
            </md-tooltip>
        </md-list-item>
        <md-list-item ng-click="gotoUrl('download/storm_kafka.zip')">
            <p>开发Storm示例下载</p>
        </md-list-item>
        <md-list-item ng-click="gotoUrl('download/数据交换平台-使用帮助.docx')">
            <p>开发说明文档</p>
        </md-list-item>
        <md-divider></md-divider>


    </md-content>
</md-sidenav>

<div layout="column" tabIndex="-1" role="main" flex>
    <md-toolbar layout="row" class="top_nav" ng-cloak>
        <div class="md-toolbar-tools">
            <div flex>
                <md-button ng-click="gotoUrl('/#dashboard')">
                    <i class="fa fa-dashboard"></i> 控制台
                </md-button>
            </div>
            <div class="md-actions" layout="row" layout-align="end" flex="2">
                <!--<md-fab-speed-dial md-direction="left" class="md-fling">-->
                <!--<md-fab-trigger>-->
                <!--<md-button aria-label="menu" class="md-fab md-hue-3 md-accent md-mini">-->
                <!--<i class="fa fa-user"></i>-->
                <!--<md-tooltip>操作</md-tooltip>-->
                <!--</md-button>-->
                <!--</md-fab-trigger>-->
                <!--<md-fab-actions>-->
                <!--<md-button aria-label="Twitter" class="md-fab md-hue-3 md-accent md-raised md-mini">-->
                <!--<i class="fa fa-bars"></i>-->
                <!--</md-button>-->
                <!--<md-button aria-label="Facebook" class="md-fab md-accent md-hue-3 md-raised md-mini">-->
                <!--<i class="fa fa-bars"></i>-->
                <!--</md-button>-->
                <!--</md-fab-actions>-->
                <!--</md-fab-speed-dial>-->
            </div>
        </div>
    </md-toolbar>
    <!--<md-content ng-view md-scroll-y flex layout-padding class="md-padding bg-none  fade-animation" ></md-content>-->
    <!--TODO overflow-->
    <md-content class="md-padding bg-none content-view fade-animation" layout="row" layout-wrap ng-view>
    </md-content>
</div>

<!--测试开发阶段-->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/pace/pace.js"></script>

<!--<script src="bower_components/jquery/dist/jquery.min.js"></script>-->
<!--<script src="bower_components/angular/angular.min.js"></script>-->
<!--<script src="bower_components/angular-animate/angular-animate.min.js"></script>-->
<!--<script src="bower_components/angular-aria/angular-aria.min.js"></script>-->
<!--<script src="bower_components/angular-messages/angular-messages.min.js"></script>-->
<!--<script src="bower_components/angular-route/angular-route.min.js"></script>-->
<!--<script src="bower_components/angular-resource/angular-resource.min.js"></script>-->
<!--<script src="bower_components/angular-material/angular-material.min.js"></script>-->
<!--<script src="bower_components/pace/pace.min.js"></script>-->


<script src="app/services.js"></script>
<script src="app/app.js"></script>
</body>
</html>