<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="false"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_0.xsd"
         version="2.5">
    <display-name>simpleapp</display-name>

    <!--
     SPRING环境配置，参考README
    -->
    <context-param>
        <param-name>spring.profiles.default</param-name>
        <param-value>developmentH2db,cache-ehCache,shiro-local,monitor-datasource,monitor-http,dexc-node</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:/spring/**/applicationContext*.xml
        </param-value>
    </context-param>

    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>app.root</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>


</web-app>
